#root{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

::-webkit-scrollbar {
  width: 0.35rem;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: #398249;
  border-radius: 1rem;
}